html {
font-family:sans-serif;
-webkit-text-size-adjust:100%;
-ms-text-size-adjust:100%;
}

body {
margin:0;
}

.wrapper {
width:510px;
margin:30px auto;
}

.wrapper h1 {
text-align:center;
color:#E9967A;
font-size:300%;
}

.gamegrid {
border:5px solid #bdc3c7;
margin:20px;
}

.box {
width:105px;
height:105px;
background-color:#dff0d8;
border:5px solid #bdc3c7;
float:left;
}

.scoreboard {
display:inline;
margin-top:20px;
margin-left:20px;
font-size:175%;
font-weight:700;
line-height:1;
color:#fff;
text-align:center;
white-space:nowrap;
vertical-align:baseline;
border-radius:.25em;
background-color:#5bc0de;
padding:.2em .6em .3em;
}

.innerBox {
width:100%;
height:100%;
background:#1abc9c;
text-align:center;
}

.innerBox span {
position:relative;
top:30%;
transform:translateY(-30%);
font-size:250%;
}

.number4{
	background:#87D37C;
}
.number8{
	background:#26A65B;
}
.number16{
	background:#1E824C;
}
.number32{
	background:#2ECC71;
}
.number64{
	background:#1E8BC3;
}
.number128{
	background:#3A539B;
}
.number256{
	background:#BF55EC;
}
.number512{
	background:#6C7A89;
}
.number1024{
	background:#F9690E;
}
.number2048{
	background:#D35400;
}